/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

  /* Text */
  .header h1
  {
    font-size: 45px;
  }
 /* Main Elements */
 .header
 {
    height: 70px;
    margin-bottom: 1%;
 }
 .home-user-area
 {
   margin-top: -40px;
 }
 .add-content form
 {
   margin-left: 25%;
   margin-right:25%;
   width: 50%;
   margin-bottom: 2.5%;
   margin: auto;
   padding: 10%;
 }
 .post
 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    line-height: 100px !important;
    padding-top: 2.5%;
 }
 /* Header Links anchor link */
 .header-links 
 {
    color: black;
    text-decoration: none;
 }
 .header-links:hover
 {
    color: grey;
 }

/* Add Posts Form */
#addPostTitle, #addPostURL, #addCategory, select
{
   width: 80% !important;
   
}
input, select
{
   display: block;
   margin-bottom: 2.5%;
}


 /* Posts */
 .card-body
 {
    line-height: 1.2; 
 }


 /* User's Profile / My Posts */
 .user_profile_my_posts
 {
   line-height: 1.2; 
 }
 .user_profile_my_posts_information{}
 .user_profile_my_posts_actions{}


